*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  Arial, sans-serif;
}

body{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background : linear-gradient(to left,#e2e2e2,#7284cb)
}

.login-container{
    height: 100%;
    width: 450px;
}


.login-box{
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    padding: 30px;
    background-color: aliceblue;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);

}

.login-box h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.login-box input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #eee;
    border: none;
    outline: none;
    margin-top: 30px;
    font-size: 20px;
    color: #333;
}

.login-box button{
    width: 100%;
    padding: 10px;
    background-color: rgb(81, 119, 255);
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    color: #f6f6f6;
    transition: 0.5s;
}

 .login-box button:hover{
    background-color: rgb(39, 32, 255);
    color: #edf0f0;
}


.login-box p{
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.login-box a{
    font-size: 16px;
    color: rgb(81, 136, 255) ;
}

.login-box a:hover{
    color: rgb(50, 32, 255)
}

.page-1{
    height: 500px;
    width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.755);
  padding: 10px 20px;
  color: white;
  display: flex;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.nav-3 {
  margin-left:auto;
  display: flex;
  gap: 20px;
}

.nav-2 {
  margin-left: 20px;
  display: flex;
  gap: 20px;
}

.navbar a{
    text-decoration: none;
    color: inherit;
}


